.background{
    /* clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%,0 90%); */
    /* clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%); */
    /* background-image: linear-gradient(); */
    /* background-image: linear-gradient(90deg, #00eeff, #71deff, #20ffcfbd, #6abcffd0, #36ffbce1, #0ee79fd5, #20b8ffd7);
    background-size: 500% auto;
    animation: animate 30s linear infinite; */
    background-color:rgb(74, 198, 255);
    background-image: url("https://static-cse.canva.com/_next/static/assets/wave_w2881xh801_a775fc2518c0a6ca438299351b5d48a3faf59e7348ac4a6f5f88b3b68fd5a06a.png");
    background-repeat: no-repeat;
    background-position:bottom;
    height: 50rem;
}
.name{
    background: linear-gradient(90deg, transparent, rgb(0, 91, 194));
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}
.hithere{
    
    color:transparent;
    -webkit-text-stroke: 1px rgb(150, 85, 255);
}
.welcome{
    background: linear-gradient(90deg, rgb(238, 234, 15), rgb(102, 91, 255));
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0%
    {
        background-position: 0%;
    }
   100%
    {
       background-position: 400%;
    }
}